<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="./script.js" defer type="module"></script>

</head>
<body>
    <header class=""></header>
    <main class="container">
        <div>
            <fieldset>
              <label>
                First name
                <input name="login" placeholder="Login" autocomplete="given-name" />
              </label>
              <label>
                Email
                <input type="password" name="password" placeholder="Password" />
              </label>
            </fieldset>
            <input type="submit" value="Register" />
            <input type="button" value="Login" />
          </div>
    </main>
</body>
</html>
